<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kg.kyrgyzstan">

    <application
        android:allowBackup="true"
        android:icon="@drawable/i"
        android:label="Интернет"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jashoo">
        <activity android:name="com.kg.kyrgyzstan.MainActivity2"
            android:parentActivityName="com.kg.kyrgyzstan.MainActivity">


        </activity>
        <activity android:name="com.kg.kyrgyzstan.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>